/* Space out content a bit */
body {
  padding: 20px;
  background-color: lightgrey;
  background-image: url(../images/brick_wall_pattern.jpg);
  user-select: none;
}

body:before { 
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.wrapper-whiteborad{
  width: 1360px;
}

.whiteboard{
  height: 600px;
  width: 1360px;
  border: 2px solid #949494;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.wb-post-it-status-panel-hidden{
  visibility: hidden;
}

wb-post-it, #post-it-ghost{
  height: 150px; 
  width: 150px; 
  margin: 10px; 
  background-image: url(../images/new/postit.png);
  float: left;
  cursor: move;
  position:absolute;
}



wb-post-it:hover{
  z-index: 1000;
}

#post-it-ghost{
  opacity: 0.3;
}

wb-post-it-status-panel .btn-group button{
  padding: 1px;
  min-width: 80px;
}

.not-started, .not-started button{
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../images/new/postit.png);
}

.in-progress, .in-progress button, .done, .done button, .on-hold, .on-hold button{
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.in-progress, .in-progress button{
  background-image: url(../images/new/postitprogress.png);
}
.done, .done button{
  background-image: url(../images/new/postitdone.png);
}
.on-hold, .on-hold button{
  background-image: url(../images/new/postitonhold.png);
}

.not-started:hover, .in-progress:hover, .done:hover, .on-hold:hover{
  overflow-y: overlay;
  overflow-x: hidden;
}

wb-post-it-status-panel{
  cursor: pointer;
  height: 100%;
  transition: opacity 0.25s ease-in;
  opacity: 0;
}

.dropdown-menu{
  transition: color 0.1s ease-in-out;
  padding: 0px;
}

.dropdown-menu li:hover{
  background-color: rgba(0,0,0,0.5);
  transition: none;
}

.not-logged-in{
  position:absolute; 
  height: 800px;  
  z-index: 50000; 
  left: 0px; 
  top: 0px;
  width: 1500px; 
  background-color: RGBA(0,0,0,0.5);
}

.admin-note{
  width: 300px;
  height: 300px;
  background-color: #d9534f;
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.4);
  -moz-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
}

.edit-form{
 min-width: 250px;
 min-height: 250px;
 padding: 10px; 
 position: absolute; 
 left: 20px; 
 top: 20px; 
 overflow: visible; 
 display: block;
}
.edit-form textarea, .create-form textarea{
  margin-bottom: 5px;
  max-width: 228px;
}

.login-create-form{
 position: relative; 
 margin-bottom: 20px; 
 width: 100%; 
 max-width: 1360px; 
 min-width: 350px; 
 z-index: 50010
}

.create-form{
  min-height: 250px;
  width: 250px;
  right: 18px;
  left: auto;
  top: 80px;
  z-index: 1001;
  min-height: 250px;
  padding: 10px;  
  overflow: visible; 
  display: none;
}

