/* Space out content a bit */
body {
  padding: 20px;
  background-color: lightgrey;
  background-image: url(../images/brick_wall_pattern.jpg);
  user-select: none;
}

.whiteboard{
  height: 600px;
  width: 1360px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 10px 10px 5px rgba(10, 10, 10, 0.4);
}

wb-post-it, .post-it-ghost{
  height: 150px; 
  width: 150px; 
  margin: 10px; 
  box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.4);
  background-color: #FFFA6B;
  float: left;
  /*position: absolute;*/
  cursor: move;
  border: 5px solid #d9534f;
  position:absolute;
}

.post-it-ghost{
  opacity: 0.3;
}

wb-post-it-status-panel .btn-group button{
  padding: 1px;
  min-width: 80px;
}

.not-started, .not-started button{
  background-color: #FFFA6B;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.in-progress, .in-progress button{
  background-color: #5bc0de;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;

}
.done, .done button{
  background-color: #5cb85c;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

wb-post-it-status-panel{
  cursor: pointer;
  height: 100%;
}

.dropdown-menu{
  padding: 0px;
}

.dropdown-menu li:hover{
  background-color: white;
  transition: none;
}

.edit-form{
 min-width: 250px;
 min-height: 250px;
 padding: 15px; 
 padding-bottom: 0px; 
 position: absolute; 
 left: 20px; 
 top: 20px; 
 overflow: visable; 
 display: block;
}
