<span class="remove-icon glyphicon glyphicon-remove pull-left" style="margin-left: 2px; margin-top: 2px; margin-right: 5px;" ng-click=""></span>
<span class="edit-icon glyphicon glyphicon-pencil pull-left" style="margin-left: 5px; margin-top: 2px;" ng-click="showEdit()"></span>

<div class="btn-group pull-right">
	<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
		{{ content.status }}<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" style="text-align: center;" role="menu">
		<li class="not-started" ng-click="changeStatus(notStarted)">not started</li>
		<li class="in-progress" ng-click="changeStatus(inProgress)">in progress</li>
		<li class="done" ng-click="changeStatus(done)">done</li>
	</ul>
</div>

<div ng-show="showEditForm" class="dropdown-menu edit-form">
	<wb-postit-edit content="content" showEditForm="showEditForm"></wb-postit-edit>
</div>

