<button class="btn btn-warning" ng-click="showCreatePostItForm()"><span class="glyphicon glyphicon-plus"></span></button>

<div id="createPostItFormDiv" style="position: absolute; right: 18px; z-index: 1; padding-bottom: 1px; border-radius: 5px 5px; border: 1px solid black; background-color: lightgrey; width: 150px;">
	<h4>This is the postit create form</h4>
	<div class="input-group">
		<span class="input-group-addon">Text</span>
		<input type="text" class="form-control">
	</div>

	<ul style="list-style: none">
		<li><input type="radio" name="color" value="yellow"/>Yellow</li>
		<li><input type="radio" name="color" value="blue"/>Blue</li>
		<li><input type="radio" name="color" value="green"/>Green</li>
		<li><input type="radio" name="color" value="red"/>Red</li>
	</ul>

	<button class="btn btn-danger" ng-click="hideCreatePostItForm()">Cancel</button>
	<button class="btn btn-success">Create</button>
</div>