<button class="btn btn-warning" ng-click="toggleForm()"><span class="glyphicon glyphicon-plus"></span></button>

<div id="createPostItDiv" class="dropdown-menu create-form">
	<form name="createForm" ng-submit="createPostItGhost()">
		<fieldset>
			<label>Create Post It</label>
			<textarea class="form-control" ng-model="postItText" rows="10" required>Write something here</textarea>
			<button class="btn btn-default btn-sm" ng-click="cancelCreation()">Cancel</button>
			<input type="submit" class="btn btn-primary btn-sm" value="Create" ng-disabled="createForm.$invalid"/>
		</fieldset>
	</form>
</div>